@model servicesharing.Data.Entities.Reservation

<h2>Създаване на резервация</h2>

<form asp-action="Create" method="post">
    <label>Вашия емайл:</label>
    <input type="text" value="@User.Identity.Name" class="form-control" readonly />

    <label>Изберете услуга:</label>
    <select asp-for="ServiceName" class="form-control" required>
        <option value="">-- Изберете услуга --</option>
        @foreach (var service in ViewBag.Services)
        {
            <option value="@service">@service</option>
        }
    </select>

    <label>Дата и час:</label>
    <input asp-for="ReservationDate" type="datetime-local" class="form-control" required min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
    <button type="submit" class="btn btn-primary mt-2">Запази</button>
</form>
<style>
    .footer {
        text-align: center;
        padding: 0.5rem 0;
        background-color: #212529;
        color: #ecf0f1;
        font-size: 0.9rem;
        position: relative;
        bottom: 0;
        width: 100%;
    }

        .footer a {
            color: #ecf0f1;
            text-decoration: none;
        }

            .footer a:hover {
                text-decoration: underline;
            }
</style>
