@model servicesharing.ViewModels.ReservationViewModel

<h2>Потвърдете изтриването на резервацията</h2>

<form asp-action="Delete" method="post">
    <div>
        <h4>Сигурни ли сте че, искате да изтриете тази резервация?</h4>
        <p>Услуга: @Model.ServiceId</p>
        <p>Имейл: @Model.CustomerEmail</p>
        <p>Дата на резервация: @Model.ReservationDate</p>
    </div>

    <button type="submit" class="btn btn-danger">Изтрий</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Отказ</a>
</form>