@{
    ViewData["Title"] = "Списък с резервации";
}

<h2>Списък с резервации</h2>
<table class="table">
    <thead>
        <tr>
            <th>Услуга</th>
            <th>Клиент</th>
            <th>Дата и час</th>
        </tr>
    </thead>
    <tbody>
        <!-- Тук ще добавите редовете за резервации -->
    </tbody>
</table>
