@model List<servicesharing.Data.Entities.Service>

@{
    ViewData["Title"] = "Гуми и джанти";
}
<style>
    .footer {
        text-align: center;
        padding: 0.5rem 0;
        background-color: #212529;
        color: #ecf0f1;
        font-size: 0.9rem;
        position: relative;
        bottom: 0;
        width: 100%;
    }

        .footer a {
            color: #ecf0f1;
            text-decoration: none;
        }

            .footer a:hover {
                text-decoration: underline;
            }
</style>

<div class="container mt-4">
    <h2 class="text-center">Гуми и джанти</h2>
    <table class="table table-striped table-bordered text-center">
        <thead class="table-dark">
            <tr>
                <th>Услуга</th>
                <th>Цена (лв.)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var service in Model)
            {
                <tr>
                    <td>@service.Name</td>
                    <td>@service.Price</td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-controller="Home" asp-action="Service" class="btn btn-primary mt-3">⬅ Назад</a>
</div>