@model List<servicesharing.ViewModels.MechanicProfileViewModel>

<h1>Списък с най-добрите механици</h1>
<ul>
    <!-- Показване на един механик -->
    <li>
        <a class="button" asp-controller="Mechanic" asp-action="Profile" asp-route-id="1">Механик 1</a>
    </li>
</ul>

<style>
    .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        font-size: 1.2em;
        cursor: pointer;
    }

        .button:hover {
            background-color: #45a049;
        }
</style>
